.resultPage {
  padding: 20px;
  .modal-popup-content {
    padding         : 50px;
    background-color: #d9534f;
    color           : #bdc3c7;
    list-style-type : none;
  }

  .pagination {
    display:inline-flex;
    list-style-type: none;
    li {
      padding: 14px;
      margin: 2px;
      background-color: #d9534f;
      color: #fff;
      font-size: 12px;
    }
  }
}
